body {
  background: #3F3939;
  font-family: "Arial";
}

header {
  background: white;
  padding: 5px 10px 5px 10px;
}

#title {
  text-align: left;
  font-size: 50px;
}

#logo {
  width: 200px;
  height: 200px;
  padding: 5px 10px 5px 10px;
}

@media only screen and (min-width: 600px) {
  .row { 
    display: flex;
  }

  .column { 
    flex: 50%;
  }
}

#menu {
  background: #DDDDDD;
  padding: 5px 10px 5px 10px;
}

#content {
  background: #DDDDDD;
  padding: 5px 10px 5px 10px;
}

footer {
  background: white;
  padding: 5px 10px 5px 10px;
}
